{% extends 'base.html.twig' %}

{% block title %}Teams index{% endblock %}

{% block body %}
    <div class="uk-flex">
    <h1>Teams index</h1>
    <div class="uk-margin-left">
    <a href="{{ path('teams_new') }}">Create new</a>
    </div>
    </div>
  
    <div class="uk-flex">
        {% for team in teams %}
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-margin-medium-left">
                <p>Club : {{ team.name }}</p>
                <p>Niveau : {{ team.level }}</p>
                
                    <a href="{{ path('teams_show', {'id': team.id}) }}">Details</a>
               
            </div>      
        {% endfor %}
    </div>     
        </tbody>
    </table>
{% endblock %}
