{% extends 'base.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}
<div class="uk-flex uk-margin-left">
    <h1>Saison</h1>
<div class="uk-margin-left">
    <a href="{{ path('season_new') }}">Create new</a>
</div>
</div>
    <table class="table">
        <tbody>
        {% for season in seasons %}
            <tr>
            <div class="uk-margin-left">
                <li><a href="{{ path('season_show', {'id': season.id}) }}">{{ season.year }}</a></li>
            </div>  
            
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
